* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,body {
	width: 100%;
	height: 100%;
}
header {
	background: transparent;
	height: 7px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding:40px 50px;
	align-items: center;
	position: fixed;
	z-index: 500;
}
#main {	
	background: transparent;
	width: 100%;
	height: 50px;
}

#main .logo {
	float: left;`
}
.logo {
	background: url(pics/bg1.png);
	width: 150px;
	height: 90px;
	background-position:center ;
	background-size: cover;
	margin-left: 40px;
	margin-top: -25px;
}

#main nav ul {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}

#main nav ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0 8px;
	line-height: 30px;
}

#main nav ul li a{
	text-decoration: none;
	color:  #fff;
	font-size: 14px;
	padding: 6px 13px;
	trsnsition: 0.4s all ease-out;
	font-family: 'Arial'; sans-serif;
}

#main nav ul li a.active,
#main nav ul li a:hover{
background:#FF0000;
color: #fff;
transition: 0.4s all ease-out;
 }

 section{
 	width: 100%;
 	float: left;
 	height: 100vh;
 	position: realative;
 }
 #HOME {
 	background-image: linear-gradient(rgba(42,58,74,0.85),rgba(42,58,74,0.85)), url(pics/1.jpeg) ;
	height: 100vh;
	background-size: cover;
	background-position: center;

 }
  #BLOG {
  	background-image: linear-gradient(rgba(42,58,74,0.85),rgba(42,58,74,0.85)), url(pics/2.jpeg) ;
	height: 100vh;
	background-size: cover;
	background-position: center;
 	
 }
  #CONTACT {
 	background-image: linear-gradient(rgba(42,58,74,0.85),rgba(42,58,74,0.85)), url(pics/3.jpg) ;
	height: 100vh;
	background-size: cover;
	background-position: center;
 }
 h3{
 	position: absolute;
 	top: 50%;
 	left: 35%;
 	transform: translate(-50%, -50%);
 	color: #cacaa6;
 	font-family: 'Arial'; sans-serif;
 }
 h1 {
 	position: absolute;
 	font-size: 40px;
 	top: 25%;
 	left: 5%;
 	color: #9c7450;
 	font-family: 'Arial'; sans-serif;
 }
 span{
 	color: #e6d96c;
 }
 h2{
	position: absolute;
 	font-size: 40px;
 	top: 110%;
 	left: 5%;
 	color: #9c7450;
 	font-family: 'Arial'; sans-serif;
}
h4
{
	position: absolute;
	font-size: 20px;
 	top: 130%;
 	left: 35%;
 	transform: translate(-50%, -50%);
 	color: #cacaa6;
 	font-family: 'Arial'; sans-serif;

}
.box {
float: left;
width: 33%;
padding: 5px;

}
.dream::after {
content: "";
display: table;
clear: both;

}

.box .dream img{
	margin-top: 250%;
	display: block;
  margin-left: auto;
  margin-right: auto;
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
	width: 100%;
	padding-bottom: 15px;
	border-radius: 5px;
	filter: grayscale(100%);
	transition: 1s;

}
.box .dream img:hover{
	filter: grayscale(0);
	transform: scale(1.1);

}
.text h1{
	position: absolute;
 	font-size: 40px;
 	top: 220%;
 	left: 5%;
 	color: #9c7450;
 	font-family: 'Arial'; sans-serif;

}
.text h3{
position: absolute;
 	top: 240%;
 	left: 35%;
 	transform: translate(-50%, -50%);
 	color: #cacaa6;
 	font-family: 'Arial'; sans-serif;
}
.icon{
	place-items:  center;
	display: grid;
	height: 100%;
	width: 100%;
	background-size: linear-gradient(315deg, #ffffff, #d7e1ec);	

}
.wrapper{
	display: inline-flex;
	margin-top: 20%;
	margin-left: 40% ;
}
.wrapper .icon{
	margin-top: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 2;
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .icon span{
height: 60px;
width: 60px;
display: block;
background: #fff;
text-align: center;
border-radius: 50%;
z-index: 2;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.wrapper .icon span i{
	font-size: 25px;
	line-height: 60px;
}
.wrapper .icon span {
	color: #fff;
	}
.wrapper .icon .tooltip{
position: absolute;
top: 0px;
background: #fff;
color: #fff;
font-size: 20px;
padding: 10px 18px;
border-radius: 25px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
opacity: 0;
pointer-events: none;
transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .icon:hover .tooltip{
	top: -70px;
	opacity: 1;
	pointer-events: auto;

}
.wrapper.icon .tooltip:before{
	position: absolute;
	content:"";
	height: 15px;
	width: 15px;
	background: #fff;
	bottom: -8px;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before{
	background: #3B5999;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before{
	background: #e1306c;
}
.wrapper .pinterest:hover span,
.wrapper .pinterest:hover .tooltip,
.wrapper .pinterest:hover .tooltip:before{
	background: red;
}